* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #afccdb;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

p {
    margin-bottom: 2.0rem;
}

body > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background: #FFF;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

#root {
    height: 100vh;
    width: 100%;
}

.t-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.t-nav-left, .t-nav-right {
    border-right: 1px solid black;
}

.t-nav-left {
    display: grid;
    grid-template-columns: 20% auto 10%;
}

.t-nav-left > div {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.t-nav-left > div > div:first-child {
    height: 50px;
}

.t-nav-footer {
    height: 50px;
    background-color: green;
    display: grid;
    width: 100%;
    grid-auto-columns: 30% auto;
}

.t-image {
    height: 35px;
}

.t-prof-names {
    white-space: nowrap;
}

.t-main-center {

}

.t-main-home {
    height: 50px;
    border-bottom: 2px solid #000;
    vertical-align: middle;
    font-size: 20px;
    line-height: 47px;
    padding-left: 20px;
    border-bottom: 2px solid #d4d4d4;
}

.t-txtarea {
    width: 95%;
    padding: 3px;
    border: 0px none;
    resize: none;
}

.t-post-input-holder {
    margin: 3px;
    border-bottom: 1px solid black;
    padding: 3px;
}

.t-nav-right {
    background-color: darkolivegreen;
}

.t-action-holder {
    display: flex;
    flex-direction: column;
}

.t-action-holder > div {
    display: grid;
    grid-template-columns: 15% auto;
    gap: 5px;
    margin-top: 10px;
    padding: 5px 3px;
}

.t-action-holder > div:hover {
    background-color: red;
    cursor: pointer;
}